body{
    /* text-align: center; */
    padding: 30px;  
}

#form{
    font-size: 30px;
    
}

#secao {
border: 3px solid black;
width: 500px;
text-align: center;
}

#botao-1{
    padding: 10px;
    
}
#botao-2{
    padding: 10px;
    
}